*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f5f6fa;
}

h1 {
  margin: 20px 0;
  color: #2c3e50;
}

h2 {
  margin: 20px 0;
  color: #333;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 50px;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  border: solid 2px #ccc;
  padding: 15px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #3498db;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.PageSwitch {
  margin-top: 15px;
}

/* 1. By default, hide the menu (for mobile) */
.navbar-links {
  display: none; 
}

/* 2. When the 'active' class is added, show the menu */
.navbar-links.active {
  display: flex;
}





